/* Variaves */
:root {
    --primary-color: #010429;
    --light-gray-color: #EEEEEE;
    --color-white: #FFFFFF;
    --span-color: rgb(30, 30, 57);
    --secundary-color: crimson;
    --gap: 1.5rem;
   
}
